*
{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url(Funny_Richard.jpg);
    background-position: center;
}


/* bagian header */
header h1
{
    background-color:#EBEEEF;
    text-align: center;
    font-size: 30px;
    padding: 5px;
}
header img
{
    /* background-color: chartreuse; */
    width: 100px;
    float: left;
    padding: 5px;
}       

.menu
{
    background-color:#97C3F6;
    position: relative;
}
.menu ul li
{
    display: inline-block;
    margin: 20px 72px;
    position: relative;
}
.menu ul li:hover ul.dropdown
{
    display: block;
}
.menu ul li a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
} 






/* bagian section */
section h2
{   
    /* background-color:#EBEEEF; */
    text-align: center;
    color: cyan;
}







/* bagian footer */
footer
{
    padding: 10px;
    background-color:#EBEEEF;
    text-align: center;
}

