*
{
    margin: 0;
    padding: 0;
}

body
{
    background-image: url(web.jpg);
}


/* bagian header */
header h1
{
    background-color:#EBEEEF;
    text-align: center;
    font-size: 30px;
    padding: 5px;
}
header img
{
    /* background-color: chartreuse; */
    width: 100px;
    float: left;
    padding: 5px;
}       

nav
{
    background-color:#97C3F6;
}
nav ul li
{
    display: inline-block;
    margin: 20px 72px;
}
nav ul li a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
ul .submenu
{
    text-align: left;
}


/* Dropdown */
li.dropdown {
    display: inline-block;
}

.dropdown:hover .isi-dropdown {
    display: block;
}

.isi-dropdown a:hover {
    color: #fff ;
}

.isi-dropdown {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
}

.isi-dropdown a {
    color: #3c3c3c ;
}

.isi-dropdown a:hover {
    color: #232323 ;
    background: #f3f3f3 ;
}




/* bagian section */
section h2
{   
    background-color:rgba(102, 95, 95, 0.135);
    margin: 10px 500px 50px 500px;
    text-align: center;
    color: white;
}







/* bagian footer */
footer
{
    padding: 10px;
    background-color:#EBEEEF;
    text-align: center;
}

