*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body
{
    background-image: url(back.jpg);
}
img
{
    float: left;
    width: 80px;
    margin-right: 10px;   
}
h1
{
    background-color: whitesmoke;
    padding-top: 10px;
    font-size: 25px;
    padding-bottom: 20px;
}


nav
{
    padding-top: 40px;
    float: right;
    padding-inline-end: 30px;
}
nav ul
{
    list-style: none;
}
nav li
{
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
}
nav a
{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
button
{
    color: white;
    float: right;
    background-color: rgb(0, 123, 255);
    width: 60px;
    height: 30px;
    border-radius: 7px;
    font-size: 15px;
}


section h2
{
    text-align: center;
    background-color: white;
    margin: 50px 500px;
    font-size: 50px;
    opacity: 0.8;
}

section table
{
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    background-color:white;
    font-size: 40px;
    opacity: 0.8;
}
section td
{
    padding: 0px 11px;
}

