p
{
    font-size: 30px;
    margin-left: 300px;
}
img
{
    margin-left: 100px;
}
table
{
    padding-left: 15px;
    font-size: 20px;
}
.deskripsi
{
    font-size: 20px;
    margin-left: 10px;
}
h3
{
    margin-top: 20px;
    margin-left: 310px;
    font-size: 30px;
}
.foot
{
    font-size: 15px;
    text-align: center;
    margin-left: 30px;
}
.footimg
{
    margin-left: 20px;
}
.footimg2
{
    margin-left: 10px;
}
