*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
body
{
    background-image: url(back.jpg);
}
/* NAVIGASI */

nav li {
    margin-left: 30px;
}

#text {
    float: right;
    margin-left: 30px;
}

div.macam  {
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 300px;
  margin-bottom:  100px;

}
.macam h2 {
  font-size: 50px;
  margin-right: 70px;
}



#lgn
{
    text-decoration: none;
    color: white;
}



/* Card */
.card {
  width: 300px;
  height: 500px;
  margin-left: 250px;
}
.tips {
    width: 1000px;
    height: 200px;
    background-color: whitesmoke;
}
.card-body {
   width: 900px;

}
.card-title{
    border-bottom :5px solid black;

}
.card-deck {
    margin-top: 50px;
  margin-right: 150px;
  padding-left: 200px;

}
.card1{
    margin-top: 40px;
    width: 200px;
    height: 100px;
    margin-right: 80px;
    
}
.movie {
    margin-top: 50px;
    margin-right: 25px;
    margin-bottom: 70px;
}

/* row */
.row {
    margin-top: 10px;
}
/* maps */

.maps {

    background-color: rgba(238, 235, 235, 0.836);
}
#info{

    background-color: rgba(238, 235, 235, 0.836);

}
#info h2{
    border-bottom :2px solid black;
}

footer {

    margin-left: 500px;
}
