*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body
{
    background-image: url(web.jpg);
}


/* bagian header */
nav li {
    margin-left: 90px;
}

#text {
    float: right;
    margin-left: 30px;
}

.macam  {
  margin-top: 150px;
  margin-left: 290px;
  margin-right: 600px;
  margin-bottom:  100px;

}
.macam h2 {
  font-size: 35px;
}



/* bagian section */
section h2
{   
    opacity: 0.8;
    font-size: 60px;
    background-color:#FFFFFF;
    margin: 10px 150px 80px 150px;
    text-align: center;
    color: black;
    /* #4e4e4e */
} 
section ul
{
    opacity: 0.8;
    background-color:#FFFFFF;
    margin: 10px 150px 100px 150px;
    text-align: left;
    color: black;
}
section p 
{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
}
section li
{
    margin-bottom: 7px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    list-style-type: none;
}







/* bagian footer */
footer
{
    padding: 10px;
    background-color:#EBEEEF;
    text-align: center;
}

