*
{
    margin : 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header h1
{
    background-color:#EBEEEF;
    text-align: center;
    font-size: 30px;
    padding: 5px;
}
header img
{
    width: 100px;
    float: left;
    padding: 5px;
}

body
{
    background-image: url(back.jpg);
}

section {
    background-color: rgba(238, 235, 235, 0.836);
    margin: 30px 300px;
    padding: 50px;
    font-size: 15px;
}
.foto
{
    width: 150px;
    margin-left: 180px;
}
.pass
{
    margin-top: 50px;
}
table
{
    margin-left: 100px;
}
section td
{
    margin-left: 100px;
}
section input 
{
    margin-left: 50px;
    width: 250px;
    height: 35px;
}
section button
{
    margin-top: 30px;
    width: 150px;
    height: 35px;
}

.login
{
    margin-left: 200px;
    margin-right: 20px;
    background-color: aquamarine;
}
.cancelbtn
{
    background-color: aquamarine;
}
.cancel
{
    text-decoration: none;
    color: black;
    background-color: aquamarine;
}
p
{
    text-align: center;
    margin-top: 30px;
    font-size: 23px;
}
p.p2
{
    margin-top: 10px;
    text-align: center;
}
a.link
{
    text-decoration: none;
    color: red;
}
a.link:hover
{
    color: sandybrown;
}


